bpim-bpmn2/bpim-model/src/main/resources/xsd/bpim/BaseElements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.bpim.org/model/base/v1" 
		xmlns:tns="http://www.bpim.org/model/base/v1" 
		elementFormDefault="qualified">
		
	<xs:complexType name="ElementBase" abstract="true">
		<xs:sequence>
			<xs:element name="id" type="xs:string" />
			<xs:element name="name" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
		
</xs:schema>